<% provide(:title, "All users") %>
<h1>Listing users(All users)</h1>

<%= will_paginate %>

<table>
  <thead>
    <tr>
	  <th>Icon</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	<%= render @users %>
  </tbody>
</table>

<br>

<%= will_paginate %>

<%= link_to 'New User', new_user_path %>
