<h1>Listing bounenkai2015s</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bounenkai2015s.each do |bounenkai2015| %>
      <tr>
        <td><%= link_to 'Show', bounenkai2015 %></td>
        <td><%= link_to 'Edit', edit_bounenkai2015_path(bounenkai2015) %></td>
        <td><%= link_to 'Destroy', bounenkai2015, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bounenkai2015', new_bounenkai2015_path %>
